<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Apex Dash</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
		<string>tr</string>
	</array>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>NSCameraUsageDescription</key>
	<string>Laptoptaki sayfada duran QR kodu okuyup turlari oraya gondermek icin kamera gerekiyor.</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>F1 oyunundan gelen telemetri paketlerini yerel agdan dinlemek icin gerekli.</string>
	<key>UIAppFonts</key>
	<array>
		<string>Saira-Regular.ttf</string>
		<string>Saira-Medium.ttf</string>
		<string>Saira-SemiBold.ttf</string>
		<string>Saira-Bold.ttf</string>
		<string>Saira-ExtraBold.ttf</string>
		<string>Saira-Black.ttf</string>
	</array>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
